    /* elment样式修改 */
    .menu .el-menu {
        background-color: #030031;
        border: 1px solid #030031;
    }

    .el-submenu.is-active .el-submenu__title {
        border: none;
    }

    .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
        border: none;
    }

    .header .el-menu {
        background-color: transparent;
        border: 1px solid transparent;

    }

    /* 
    .header .el-menu-item:hover {
        color: #fff;
    } */

    .menu .el-menu-item {
        color: #ffffff;
        font-size: 14px;
    }

    .menu .el-menu-item:hover {
        color: #000000;
    }

    .wraper {
        width: 100%;
        height: 100%;
        background-color: #dddddd;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        width: 150px;
        height: 100%;
        background-color: #030031;
    }

    .main {
        width: calc(100% - 150px);
        height: 100%;
        overflow-y: scroll;
    }

    .logo {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 15px 0 0;
    }

    .logo span {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
    }

    .main {
        background-color: #ffffff;
    }

    .header {
        width: 100%;
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 0 40px;
        font-size: 14px;
        box-shadow: 0 1px 5px #ddd;
    }

    .notice {
        color: red;
        font-size: 16px;
    }

    .container {
        width: 100%;
        height: calc(100% - 66px);
        padding: 20px 0 0 50px;
    }

    .cards {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 0 0;
        color: #ffffff;
    }

    .card {
        width: 258px;
        height: 136px;
        box-shadow: 0 2px 6px 1px rgba(136, 144, 250, 0.40);
        border-radius: 8px;
        padding: 10px 40px;
    }

    .fun-title {
        position: relative;
    }

    .fun-title img {
        position: absolute;
        left: -30px;
        top: 4px
    }

    .number {
        font-size: 32px;
        padding: 10px 0;
    }

    .box-con {
        font-size: 10px;
    }

    .text {
        margin-top: 5px;
    }

    .sub-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px 0 0;
    }

    .time-box {
        width: 200px;
        display: flex;
        justify-content: space-around;
    }

    .time-box div {
        padding: 2px 0;
        width: 50px;
        border: 1px solid #ddd;
        border-radius: 12px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .report-table {
        padding: 20px 0 0 0;
    }

    .info .el-form-item__label {
        text-align: left;
    }

    .active {
        background-color: #007AFF;
        color: #ffffff;
    }

    .info {
        padding: 20px 100px 0 0;
    }

    .report-table table {
        border: 1px solid #D7E4EC;
        width: 100%;
        height: auto;
        font-size: 14px;
        background-color: #fff;
    }

    .report-table table th,
    .report-table table td {
        text-align: center;
        border: 1px solid #D7E4EC;
        height: 50px;
    }

    .gc {
        background-color: #F5F8FA;
    }