<div class="page-container pay-set">
    <div class="content-container">
            <form nz-form [formGroup]="payConfigForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="devSn">商户设备编号</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户设备编号">
                            <input nz-input formControlName="devSn" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="operNo">商户操作员编号</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户操作员编号">
                            <input nz-input formControlName="operNo" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="storeNo">商户门店号</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户门店号">
                            <input nz-input formControlName="storeNo" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="merchantId">商户号</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户号">
                            <input nz-input formControlName="merchantId" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="key">商户秘钥</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户秘钥">
                            <input nz-input type="password" formControlName="key" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzOffset="6">
                            <button nz-button nzType="primary" *ngIf="!isDetail">保存</button>
                            <button nz-button type="button" nzType="primary" *ngIf="isDetail" (click)="editInfo()">修改</button>
                            <button nz-button type="button" (click)="backTo()">返回</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
    </div>
</div>
