<div class="integral-wrraper">
    <div class="back">
        <button nz-button nzType="link" (click)="returnToList()">返回</button>
    </div>

    <div class="operate-bar">
        <div class="operate-item">
            <span>会员：</span>
            <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input type="text" disabled nz-input placeholder="请输入会员名称/手机号" [(ngModel)]="filters.member" />
            </nz-input-group>
            <ng-template #prefixTemplateUser><i nz-icon nzType="search"></i></ng-template>
        </div>
        <div class="operate-item">
            <span>变动类型：</span>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="filters.changeType">
                <nz-option nzLabel="全部" nzValue=""></nz-option>
                <nz-option *ngFor="let item of integralStateList" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
            </nz-select>
        </div>

        <div class="operate-item btn-groups">
            <button nz-button (click)="getDataList()" nzType="primary">
                <i class="iconfont fxsousuo"></i>
                搜索
            </button>
        </div>
    </div>

    <div class="container">
        <app-ufast-table [tableConfig]=" tableConfig" [dataList]="dataList" (updateList)="getDataList($event)"
            (sortChange)="sortOrderBy($event)">
        </app-ufast-table>
        <ng-template #seqNoTpl let-index="_index">
            {{index + 1}}
        </ng-template>
    </div>
</div>