<div class="sale-wraper" *ngIf="currentPage===pageType.List">
    <button class="add-btn" nz-button (click)="goAdd()" nzType="primary">
        <span><i nz-icon nzType="plus" nzTheme="outline"></i></span>
        <span>新增市场</span>
    </button>

    <ul class="container">
        <li *ngFor="let item of dataList">
            <img [src]="item.logoUrl" class="merchant-banner"
                onerror='javascript:this.src="./assets/img/comman/onerror.png"'>
            <div class="merchant-baseinfo">
                <div class="baseinfo-name">{{item.name}}</div>
                <div class="baseinfo-people-time">
                    <span>入住商户: <b class="link-btn" (click)="goMerchant(item)">{{item.settledInCompanyCount}}</b></span>
                    <span style="margin-left: 60px;">创建时间:
                        <b>{{item.createDate | map:'date:yyyy-MM-dd HH:mm:ss'}}</b></span>
                </div>
            </div>
            <div class="merchant-operate">
                <button class="op-btn" nz-button (click)="edit(item)" nzType="primary">
                    <span>编辑</span>
                </button>

                <button class="op-btn" style="width: auto;" nz-button (click)="edit(item,true)" nzType="primary">
                    <span>POS设置</span>
                </button>

                <button class="op-btn" nz-button (click)="isLockCom(item)" nzType="primary">
                    {{item.enabled ? '下线' : '上线'}}
                </button>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="currentPage===pageType.Add">
    <app-add (returnBack)="returnToList($event)" [id]="itemId"></app-add>
</div>

<div *ngIf="currentPage===pageType.Merchant">
    <app-merchant (returnBack)="returnToList($event)" [id]="itemId"></app-merchant>
</div>

<div *ngIf="currentPage===pageType.Pos">
    <app-pos-setting (returnBack)="returnToList($event)" [id]="itemId"></app-pos-setting>
</div>