<div class="actions">
    <button class="file-btn" [ngClass]="{'height0':cropedSrc}">
        <span style="font-size: 50px;">
            <!-- {{cropedSrc? '修改' : '上传'}}图片 -->
            +
        </span>
        <input type="file" id="upload" value="选择图片文件" accept="image/gif, image/jpeg,, image/png, image/jpg" />
    </button>
    <div id="result" *ngIf="cropedSrc">
        <img style="width: 300px;height: 187px;" [src]="cropedSrc">
        <div class="delete-img">
            <i (click)="redImg()" style="cursor: pointer;" nz-icon nzType="eye" nzTheme="outline"></i>
            <i (click)="resetImg()" style="cursor: pointer;margin-left: 10px;" nz-icon nzType="delete"
                nzTheme="outline"></i>
        </div>
    </div>
    <!-- <div>
        <small style="color: rgba(0,0,0,.45);margin-top: 5px;"> 只能上传jpg，png格式的图片，且不超过10M</small>
    </div>
    <div style="color: #000;text-align: center;margin-top: 20px;">
        商品图片
    </div> -->
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="图片裁剪" nzWidth="600" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="crop">
        <div id="upload-demo"></div>
        <div style="display: flex;justify-content: space-between;">
            <button nz-button nzType="default" (click)="rotateLeft()">左旋</button>
            <button nz-button nzType="default" (click)="rotateRight()">右旋</button>
        </div>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="checkVisible" nzTitle="图片查看" nzWidth="600" (nzOnCancel)="handleCheckCancel()"
    (nzOnOk)="handleCheckOk()">
    <div class="check-box">
        <img style="width: 600px;height: 374px;" *ngIf="imgShow" [src]="imgShow">
    </div>
</nz-modal>