<div class="form-container">
    <div class="base-title">市场信息维护</div>
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="commName">商户名称</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入营业执照上的名称!">
                <input nz-input maxLength="50" formControlName="commName" placeholder="请输入营业执照上的名称" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="commShortName">商户简称</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入营业执照上的简称!">
                <input nz-input maxLength="50" formControlName="commShortName" placeholder="请输入营业执照上的简称" />
            </nz-form-control>
        </nz-form-item>


        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="commId">商户号</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入商户号!">
                <input nz-input maxLength="50" formControlName="commId" placeholder="请输入商户号" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="merLicType">商户证件类型</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="请选择商户证件类型!">
                <nz-select formControlName="merLicType" nzPlaceHolder="请选择">
                    <nz-option *ngFor="let item of merchantCardTypeList" [nzLabel]="item.label" [nzValue]="item.value">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="merLicNo">商户证件号码</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写商户证件号码：!">
                <input nz-input formControlName="merLicNo" maxLength="24" placeholder="请填写商户证件号码：" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="arr">商户地址</nz-form-label>
            <nz-form-control [nzSm]="18" nzErrorTip="请选择省/市/县!">
                <app-three-link formControlName="arr" [kind]="true"></app-three-link>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="corName">法人姓名</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写法人姓名!">
                <input nz-input formControlName="corName" maxLength="20" placeholder="请填写法人姓名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="storeAddr">详细地址</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写详细地址!">
                <input nz-input formControlName="storeAddr" placeholder="请填写详细地址" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="licType">法人证件类型</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="请选择法人证件类型!">
                <nz-select formControlName="licType" nzPlaceHolder="请选择">
                    <nz-option *ngFor="let item of legalCardTypeList" [nzLabel]="item.label" [nzValue]="item.value">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="licNo">法人证件号码</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写法人证件号码!">
                <input nz-input formControlName="licNo" maxLength="18" placeholder="请填写法人证件号码" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="commPhone">法人电话</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写法人电话!">
                <input nz-input formControlName="commPhone" maxLength="11" placeholder="请填写法人电话" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="commKind">商户性质</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="请选择商户性质!">
                <nz-select formControlName="commKind" nzPlaceHolder="请选择">
                    <nz-option *ngFor="let item of merchantNatureList" [nzLabel]="item.label" [nzValue]="item.value">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="accNo">结算账户</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写结算账户!">
                <input nz-input formControlName="accNo" maxLength="20" placeholder="请填写结算账户" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="accName">账户户名</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写账户户名!">
                <input nz-input formControlName="accName" maxLength="20" placeholder="请填写账户户名" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="accBankName">开户银行</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写开户银行!">
                <input nz-input formControlName="accBankName" maxLength="22" placeholder="请填写开户银行" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mcc">行业类别码</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写行业类别码!">
                <input nz-input formControlName="mcc" maxLength="22" placeholder="请填写行业类别码" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cleanChannel">清算渠道</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="请选择清算渠道!">
                <nz-select formControlName="cleanChannel" nzPlaceHolder="请选择">
                    <nz-option nzLabel="中间业务" nzValue="1"></nz-option>
                    <nz-option nzLabel="直销银行" nzValue="0"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="eleAcc">电子账户</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写电子账户!">
                <input nz-input formControlName="eleAcc" maxLength="22" placeholder="请填写电子账户" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dirCusNo">直销银行用户编号</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写直销银行用户编号!">
                <input nz-input formControlName="dirCusNo" maxLength="22" placeholder="请填写直销银行用户编号" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cleanType">清算方式</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="请选择清算方式!">
                <nz-select formControlName="cleanType" nzPlaceHolder="请选择">
                    <nz-option *ngFor="let item of settleWaysList" [nzLabel]="item.label" [nzValue]="item.value">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="isWithdrawQualify">是否具备提现资格</nz-form-label>
            <nz-radio-group formControlName="isWithdrawQualify">
                <label nz-radio nzValue="1">可以实时提现</label>
                <label nz-radio nzValue="0">不能实时提现</label>
            </nz-radio-group>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="isWithdrawVerify">提现是否需要审核</nz-form-label>
            <nz-radio-group formControlName="isWithdrawVerify">
                <label nz-radio nzValue="1">是</label>
                <label nz-radio nzValue="0">否</label>
            </nz-radio-group>
        </nz-form-item>


        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="expOperNo">扩展人推荐码</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写扩展人推荐码!">
                <input nz-input formControlName="expOperNo" maxLength="22" placeholder="请填写扩展人推荐码" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="inter-width">
            <button nz-button nzType="primary" (click)="submitForm()" style="margin-left:-200px">保存</button>
            <button nz-button nzType="default" (click)="pageTypeChanged()" style="margin-left:20px">取消</button>
        </nz-form-item>
    </form>
</div>