<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>韩集团</title>
    <link href="http://b-ssl.duitang.com/uploads/item/201804/20/20180420234025_sexvd.jpg" rel="SHORTCUT ICON">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/element.css">
    <script src="js/element.js"></script>
    <link rel="stylesheet" href="./css/comman.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js" async></script>
</head>

<body>
    <div class="wraper">
        <div class="menu">
            <div class="logo">
                <img src="./img/logo.png" alt="">
                <span>鹰眼</span>
            </div>
            <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose">
                <el-menu-item v-for="item,index in menuList" :index="index" :key="index">
                    <i :class="item.icon"></i>
                    <span slot="title">{{item.name}}</span>
                </el-menu-item>
            </el-menu>

        </div>
        <div class="main">
            <div class="header">
                <span class="notice">公告: {{infomation}}</span>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-submenu index="2">
                        <template slot="title">
                            <span>管理员: {{usename}}</span>
                        </template>
                        <el-menu-item @click="logout" index="2-1">退出</el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>
            <div class="container">
                <template>
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="首页" name="first">
                            <div class="cards">
                                <div class="card" v-for="card,index in cardList" :style="{ backgroundColor: card.bgC }">
                                    <div class="fun-title">
                                        {{card.title}}
                                        <img :src="card.img" alt="">
                                    </div>
                                    <div class="number">
                                        {{card.total}}
                                    </div>
                                    <div class="box-con">
                                        <div>{{card.text1}}</div>
                                        <div class="text">{{card.text2}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-title">
                                <div>今日报表</div>
                                <div class="time-box">
                                    <div @click="change('today')" :class="{'active':str == 'today'}">今日</div>
                                    <div @click="change('week')" :class="{'active':str == 'week'}">上周</div>
                                    <div @click="change('last-month')" :class="{'active':str == 'last-month'}">上月</div>
                                </div>
                            </div>
                            <div class="report-table">
                                <!-- <el-table stripe :data="tableData" :show-header="false" :span-method="arraySpanMethod"
                                    border style="width: 100%">
                                    <el-table-column prop="id" label="ID" width="180">
                                    </el-table-column>
                                    <el-table-column prop="name" label="姓名">
                                    </el-table-column>
                                    <el-table-column prop="amount1" sortable label="数值 1">
                                    </el-table-column>
                                    <el-table-column prop="amount2" sortable label="数值 2">
                                    </el-table-column>
                                    <el-table-column prop="amount3" sortable label="数值 3">
                                    </el-table-column>
                                </el-table> -->
                                <table cellspacing="0">
                                    <!-- <caption>纵向合并单元格</caption> -->
                                    <tr>
                                        <td class="gc">今日注册</td>
                                        <td class="gc" colspan="2">使用情况</td>
                                        <td class="gc" colspan="2">推广情况</td>
                                        <td class="gc" colspan="2">充值情况(元)</td>
                                        <td class="gc" colspan="2">昨日新增充值率(%)</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">0</td>
                                        <td colspan="2">0</td>
                                        <td colspan="2">0</td>
                                        <td colspan="2">0</td>
                                        <td colspan="2" rowspan="3">0</td>
                                    </tr>
                                    <tr>
                                        <td class="gc">查看报告</td>
                                        <td class="gc">评审</td>
                                        <td class="gc">业务员</td>
                                        <td class="gc">贷超</td>
                                        <td class="gc">充值新增</td>
                                        <td class="gc">复充</td>
                                        <!-- <td colspan="1">0.00%</td> -->
                                        <!-- <td>电话</td> -->
                                    </tr>
                                    <!--rowspan中必须指定要合并的列数目，是两行还是三行等等-->
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td class="gc" colspan="5">用户数量/情况</td>
                                        <td class="gc">充值新增金额(元)</td>
                                        <td class="gc">复充金额(元)</td>
                                        <td class="gc" colspan="2">昨日金额复充率(%)</td>

                                    </tr>
                                    <tr>
                                        <td colspan="5">0</td>
                                        <td rowspan="3">0</td>
                                        <td rowspan="3">0</td>
                                        <td colspan="2">0.00%</td>
                                    </tr>
                                    <tr>
                                        <td class="gc">不通过</td>
                                        <td class="gc">待放款</td>
                                        <td class="gc">还款中</td>
                                        <td class="gc">逾期中</td>
                                        <td class="gc">已结清</td>
                                        <td class="gc">总首充率(%)</td>
                                        <td class="gc">总复充率(%)</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0.00%</td>
                                        <td>0.00%</td>
                                    </tr>
                                </table>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="发布公告" name="second">
                            <div class="info">
                                <el-form ref="form" :model="form" label-width="80px">
                                    <el-form-item label="公告名称">
                                        <el-input v-model="form.name" placeholder="字数限制0/50内" maxLength="50"></el-input>
                                    </el-form-item>
                                    <el-form-item label="发布时间">
                                        <el-col :span="5">
                                            <el-col :span="11">
                                                <el-date-picker type="date" placeholder="选择日期" v-model="form.date1"
                                                    style="width: 100%;"></el-date-picker>
                                            </el-col>
                                            <el-col class="line" :span="2">-</el-col>
                                            <el-col :span="11">
                                                <el-time-picker placeholder="选择时间" v-model="form.date2"
                                                    style="width: 100%;">
                                                </el-time-picker>
                                            </el-col>
                                        </el-col>
                                        <el-col :offset="1" span="11">
                                            <el-radio-group v-model="form.resource">
                                                <el-radio label="立即发布"></el-radio>
                                                <el-radio label="预发布"></el-radio>
                                            </el-radio-group>
                                        </el-col>
                                    </el-form-item>
                                    <el-form-item label="发布内容">
                                        <el-input type="textarea" :autosize="{ minRows: 20, maxRows: 4}" maxLength="200"
                                            v-model="form.desc" placeholder="字数限制0/200内"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-col :offset="11" :span="12">
                                            <el-button type="primary" @click="onSubmit">提交</el-button>
                                        </el-col>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-tab-pane>

                    </el-tabs>
                </template>
            </div>
        </div>
    </div>
</body>

</html>