<ng-container>
    <nz-button-group *ngIf="!hiddenBtn">
        <button nz-button [nzType]=" currentType === 'day' ? 'primary' : ''" (click)="chooseDateType('day')">日</button>
        <button nz-button [nzType]=" currentType === 'month' ? 'primary' : ''" (click)="chooseDateType('month')">月</button>
        <button nz-button [nzType]=" currentType === 'quarter' ? 'primary' : ''" (click)="chooseDateType('quarter')">季</button>
        <button nz-button [nzType]=" currentType === 'year' ? 'primary' : ''" (click)="chooseDateType('year')">年</button>
    </nz-button-group>
    <ng-container *ngIf="currentType === 'day' || !dateType">
        <nz-date-picker
        [nzDisabledDate]="disabledStartDate"
        nzShowTime
        nzFormat="yyyy-MM-dd"
        [(ngModel)]="startValue"
        nzPlaceHolder="开始时间"
        (ngModelChange)="onStartChange($event)"
        (nzOnOpenChange)="handleStartOpenChange($event)"
      >
      </nz-date-picker>
      ~
      <nz-date-picker
        [nzDisabledDate]="disabledEndDate"
        nzShowTime
        nzFormat="yyyy-MM-dd"
        [(ngModel)]="endValue"
        nzPlaceHolder="结束时间"
        [nzOpen]="endOpen"
        (ngModelChange)="onEndChange($event)"
        (nzOnOpenChange)="handleEndOpenChange($event)"
      >
      </nz-date-picker>
    </ng-container>
    <ng-container *ngIf="currentType === 'month' && dateType">
        <nz-month-picker
            [(ngModel)]="monthRangeDate"
            (ngModelChange)="onRangeChange($event, currentType)"
            nzPlaceHolder="选择月份"
        ></nz-month-picker>
    </ng-container>
    <ng-container *ngIf="currentType === 'quarter' && dateType">
        <nz-select [ngModel]="quarterData" style="width: 160px" (ngModelChange)="quarterChange($event)">
            <nz-option *ngFor="let quarter of quarterList" [nzLabel]="quarter.label"
                [nzValue]="quarter.value" ></nz-option>
        </nz-select>
    </ng-container>
    <ng-container *ngIf="currentType === 'year' && dateType">
        <nz-year-picker
            [(ngModel)]="yearRangeDate"
            (ngModelChange)="onRangeChange($event, currentType)"
            nzPlaceHolder="选择年份"
        ></nz-year-picker>
    </ng-container>
</ng-container>
