<nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false" [nzPageSize]="1000" [nzScroll]="{ y: '300px' }">
    <thead>
        <tr>
            <th nzWidth="220px">{{tableHeadTitle}}名称</th>
            <th nzWidth="80px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data,let i=index">
            <td>
                <span *ngIf="data.status">
                    <input style="width:150px" type="text" nz-input appFxAutoFocus [(ngModel)]="data.name"  />
                    <button style="width:60px;margin-left: 8px;" nz-button nzType="primary" (click)="saveSingle(data,i)">保存</button>
                    <button style="width:60px" nz-button (click)="cancelSingle(data,i)">取消</button>
                </span>
                <span *ngIf="!data.status">
                    {{ data.name}}
                </span>
            </td>
            <td>
                <a (click)="editBrand(data,i)">修改</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="deleteBrand(data,i)">删除</a>
            </td>
        </tr>
    </tbody>
</nz-table>

<div class="modal-footer">
    <button style="width:100px" nz-button nzType="link" (click)="addUnit()">
        <i nz-icon nzType="plus"></i>
        {{modalTitle}}
    </button>
</div>
