<div class="page-container">
    <div class="content-container">
        <app-ufast-table-nav [tableConfig]="tableConfig" [leftTemplate]="leftNav">
        </app-ufast-table-nav>
        <ng-template #leftNav>
            <button class="refresh" nz-button nzType="primary" (click)="addVersion()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                新增版本
            </button>
        </ng-template>

        <app-ufast-table [tableConfig]="tableConfig" [dataList]="dataList" (updateList)="getDataList()">
        </app-ufast-table>
    </div>
</div>

<ng-template #operation let-tpOutItem="_item">
    <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="deleteItem(tpOutItem)">
        删除
    </button>
</ng-template>