<div class="goods-wraper">
    <ng-container *ngIf="currentPage===pageType.List">
        <div class="operate-bar" [ngClass]="{'extend-conditions': extendConditions}">
            <div class="operate-item">
                <span>商户名称：</span>
                <nz-input-group [nzPrefix]="prefixTemplateUser">
                    <input type="text" nz-input placeholder="请输入商户名称/编号" [(ngModel)]="filters.keyword" />
                </nz-input-group>
                <ng-template #prefixTemplateUser><i nz-icon nzType="search"></i></ng-template>
            </div>
            <div class="operate-item">
                <span>状态：</span>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="filters.state">
                    <nz-option nzLabel="全部" nzValue=""></nz-option>
                    <nz-option nzLabel="未开始" nzValue="0"></nz-option>
                    <nz-option nzLabel="进行中" nzValue="1"></nz-option>
                    <nz-option nzLabel="已结束" nzValue="2"></nz-option>
                </nz-select>
            </div>
            <div class="operate-item btn-groups">
                <button nz-button (click)="getDataList(1)" nzType="primary">
                    <i class="iconfont fxsousuo"></i>
                    搜索</button>
                <button nz-button (click)="resetCondition(1)">
                    <i class="iconfont fxreset"></i>
                    重置
                </button>
            </div>
        </div>

        <div class="container">
            <app-ufast-table-nav [tableConfig]="tableConfig" [leftTemplate]="leftNav" [rightTemplate]="rightNav">
            </app-ufast-table-nav>

            <ng-template #leftNav>
                <button nz-button nzType="primary" (click)="openAddMerchantDialog()">添加商户</button>
                <button nz-button (click)="updateStateMulty()"> 批量开启 </button>
            </ng-template>

            <ng-template #rightNav>
                <nz-button-group>
                    <button class="refresh" style="border-right: 1px solid #dddddd;" nz-button (click)="getDataList()">
                        <i class="icon" nz-icon type="sync" theme="outline"></i>
                    </button>
                </nz-button-group>
            </ng-template>

            <app-ufast-table [tableConfig]="tableConfig"
                (selectedChange)="checkTableItem($event,'dataList','tableConfig')" [dataList]="dataList"
                (updateList)="getDataList($event)">
            </app-ufast-table>

            <ng-template #seqNoTpl let-index="_index">
                {{index + 1}}
            </ng-template>

            <ng-template #operationTpl let-item="_item">
                <button class="primary-color" nz-button nzType="link" (click)="updateState([item.id],item.state)">
                    {{item.state !== 1 ? '开启' : '结束'}}
                </button>
                <button *ngIf="item.state !== 0" class="primary-color" nz-button nzType="link"
                    (click)="openSettleModal(item)">
                    结算
                </button>
            </ng-template>

            <ng-template #alreadyExchTpl let-item="_item">
                <span class="primary-color cursor" (click)="changePageType(item,true)">{{item.alreadyExch}}</span>
            </ng-template>

            <ng-template #alreadySettleTpl let-item="_item">
                <span class="primary-color cursor" (click)="changePageType(item,false)">{{item.alreadySettle}}</span>
            </ng-template>
        </div>
    </ng-container>


    <ng-container *ngIf="currentPage===pageType.Detail">
        <app-exchange-detail [itemObj]="itemObj" (returnBack)="returnToList($event)"></app-exchange-detail>
    </ng-container>


    <nz-modal class="exchange-modal" [(nzVisible)]="isVisible" [nzWidth]="'800px'" nzTitle="新增合作商户"
        (nzOnCancel)="handleCancel()" (nzOnOk)="handleAddMerchant()">
        <div class="modal-operate">
            <div class="modal-opetate-item">
                <span>商户: </span>
                <input nz-input [(ngModel)]="modalFilter.companyName" placeholder="请输入商户名称" />
            </div>
            <div class="modal-opetate-item" style="justify-content: flex-end;">
                <button nz-button (click)="modalGetDataList(1)" nzType="primary">
                    搜索
                </button>
                <button nz-button (click)="modalReset()">
                    重置
                </button>
            </div>
        </div>
        <div class="table-container">
            <app-ufast-table [tableConfig]="modalTableConfig"
                (selectedChange)="checkTableItem($event,'modalDataList','modalTableConfig')" [dataList]="modalDataList"
                (updateList)="modalGetDataList($event)">
            </app-ufast-table>
        </div>
    </nz-modal>

    <nz-modal class="exchange-modal" [(nzVisible)]="settleVisible" nzTitle="结算积分"
        (nzOnCancel)="settleIntegralModalCancel()" (nzOnOk)="settleIntegralModalOk()">
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="merchantName">商户</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户">
                    <input nz-input formControlName="merchantName" id="merchantName" placeholder="请输入商户" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mchId">商户号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户号">
                    <input nz-input formControlName="mchId" id="mchId" placeholder="请输入商户号" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="unSettleIntergral">商户未结算积分</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商户未结算积分">
                    <input nz-input formControlName="unSettleIntergral" id="unSettleIntergral"
                        placeholder="请输入商户未结算积分" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="integration">本次结算积分</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入本次结算积分">
                    <nz-input-number formControlName="integration" [nzStep]="1" id="integration" [nzMax]='999999999'
                        nzPlaceHolder="请输入本次结算积分" (nzBlur)="transformNum()">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="amount">金额</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入金额">
                    <nz-input-number formControlName="amount" [nzStep]="1" id="amount" [nzMax]='999999999'
                        nzPlaceHolder="请输入金额">
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="note">备注</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入备注">
                    <textarea nz-input placeholder="请输入备注" ngModel formControlName="note" id="note" nzAutosize>
                    </textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
</div>