<div class="page-container">

    <div class="operate-bar" [ngClass]="{'extend-conditions': extendConditions}">
        <div class="operate-item">
            <app-range-data [(startDate)]="filters.beginDate" [(endDate)]="filters.endDate"
                [(dateType)]="filters.dateType">
            </app-range-data>
            <span class="time-tab" (click)="changeType()">{{ filters.billDateType === 1? '制单时间' : '结算时间'}}</span>
        </div>

        <div class="operate-item btn-groups">
            <button nz-button (click)="searchData()" nzType="primary">
                <i class="iconfont fxsousuo"></i>
                搜索</button>
            <button nz-button (click)="resetForm()">
                <i class="iconfont fxreset"></i>
                重置
            </button>
            <nz-badge [nzCount]="0">
                <button nz-button nzType="default" (click)="extendConditions = !extendConditions">
                    <i *ngIf="!extendConditions" nz-icon nzType="down" nzTheme="outline"></i>
                    <i *ngIf="extendConditions" nz-icon nzType="up" nzTheme="outline"></i>
                    更多
                </button>
            </nz-badge>
        </div>

        <div class="operate-item">
            <span>业务员：</span>
            <input type="text" nz-input placeholder="请输入业务员" [(ngModel)]="filters.saleManName" />
        </div>

        <div class="operate-item">
            <span>活跃标准≥：</span>
            <input type="text" nz-input placeholder="请输入每天下单量" [(ngModel)]="filters.activeStandard" />
        </div>

        <div class="operate-item">
            <span>活跃天数≥：</span>
            <input type="text" nz-input placeholder="请输入活跃天数" [(ngModel)]="filters.activeDays" />
        </div>

        <div class="operate-item">
            <span>机构：</span>
            <input type="text" nz-input placeholder="请输入机构" [(ngModel)]="filters.deptName" />
        </div>
    </div>

    <div class="content-container">
        <div class="table-nav">
            <div></div>
            <div class="btn-groups">
                <button class="refresh" nz-button (click)="searchData()">
                    <i class="icon" nz-icon type="sync" theme="outline"></i>
                </button>
                <button style="border-right: 1px solid #dddddd;border-left:none; " class="refresh" nz-button appDownload
                    [downloadUrl]="productExportParam.downloadUrl" [method]="productExportParam.reqMethod"
                    [reqParam]="productExportParam.fileParam" [fileName]="productExportParam.fileName"
                    [downloadServer]="productExportParam.downloadServer">
                    <i nz-icon type="upload" theme="outline"></i>
                </button>
            </div>
        </div>
        <nz-table #dataTable [nzData]="merchantList" nzBordered nzSize="middle" nzShowSizeChanger nzShowQuickJumper
            [nzShowPagination]="true" [nzFrontPagination]="false" (nzPageIndexChange)="pageChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)" [nzTotal]="tbDataObj.total">
            <thead>
                <tr>
                    <th rowspan="2" nzAlign="center">商户名称</th>
                    <th rowspan="2" nzAlign="center">业务员</th>
                    <th rowspan="2" nzAlign="center">机构</th>
                    <th rowspan="2" nzAlign="center">销售单量</th>
                    <th rowspan="2" nzAlign="center">销售总额</th>
                    <th rowspan="2" nzAlign="center">单平均额</th>
                    <th rowspan="2" nzAlign="center">活跃天数</th>
                    <th colspan="2" nzAlign="center">农商银行扫码付</th>
                    <th colspan="2" nzAlign="center">Q付通</th>
                    <th colspan="2" nzAlign="center">其他支付</th>
                </tr>
                <tr>
                    <th nzAlign="center">单量</th>
                    <th nzAlign="center">金额</th>
                    <th nzAlign="center">单量</th>
                    <th nzAlign="center">金额</th>
                    <th nzAlign="center">单量</th>
                    <th nzAlign="center">金额</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataTable.data">
                    <td>{{ item.companyOrgName }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.userDeptName }}</td>
                    <td>{{ item.totalQuantity }}</td>
                    <td>{{ item.totalValue }}</td>
                    <td>{{ item.avgValue }}</td>
                    <td>{{ item.activityDays }}</td>
                    <td>{{ item.qrcbQuantity }}</td>
                    <td>{{ item.qrcbValue }}</td>
                    <td>{{ item.qftQuantity }}</td>
                    <td>{{ item.qftValue }}</td>
                    <td>{{ item.otherQuantity }}</td>
                    <td>{{ item.otherValue }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>