<div class="emp-info">
    <ng-container *ngIf="currentPage===pageType.List">
        <div class="operate-bar">
            <div class="operate-item">
                <nz-input-group [nzPrefix]="prefixTemplateUser">
                    <input type="text" nz-input placeholder="请输入角色权限" [(ngModel)]="filters.name" />
                </nz-input-group>
                <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
            </div>

            <div class="operate-item">
                <button nz-button (click)="searchByCondition()" nzType="primary"><i nz-icon
                        nzType="search"></i>搜索</button>
                <button nz-button (click)="resetCondition()">
                    <i nz-icon nzType="loading-3-quarters" nzTheme="outline"></i>
                    重置
                </button>
            </div>
        </div>
        <div class="container">
            <app-ufast-table-nav [tableConfig]="tableConfig" [leftTemplate]="leftNav">
            </app-ufast-table-nav>
            <ng-template #leftNav>
                <button nz-button nzType="primary" (click)="openDialog('add')"><i nz-icon nzType="plus"></i>新增</button>
            </ng-template>

            <app-ufast-table [tableConfig]="tableConfig" (selectedChange)="checkTableItem($event)" [dataList]="dataList"
                (updateList)="getDataList($event)">
            </app-ufast-table>
            <ng-template #seqNoTpl let-index="_index">
                {{index + 1}}
            </ng-template>
            <ng-template #operationTpl let-item="_item">
                <button class="primary-color tb-btns" nz-button nzType="link" (click)="openDialog('edit',item)">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                    编辑
                </button>
                <nz-divider nzType="vertical"></nz-divider>
                <button class="primary-color tb-btns" nz-button nzType="link" (click)="setAuth(item)">
                    <i nz-icon nzType="radius-setting" nzTheme="outline"></i>
                    设置权限
                </button>
                <nz-divider nzType="vertical"></nz-divider>
                <button class="primary-color tb-btns" nz-button nzType="link" (click)="deleteRole(item)">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                    删除
                </button>
            </ng-template>
        </div>
    </ng-container>

    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="dialogTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="staffCode">角色名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入角色名称">
                    <input nz-input formControlName="name" id="staffCode" placeholder="请输入角色名称" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>

    <ng-container *ngIf="currentPage===pageType.Add">
        <app-job-authority-add (returnBack)="returnToList($event)" [id]="itemId"></app-job-authority-add>
    </ng-container>
</div>