<div class="intergration-rule-wraper">
    <div class="contain bd-bt">
        <span class="switch-label">是否开启积分规则: </span>
        <span class="switch-control">
            <nz-switch [(ngModel)]="interRuleObj.integrationRuleState" [nzControl]="true"
                (click)="clickSwitch('integrationRuleState')" nzCheckedChildren="是" nzUnCheckedChildren="否">
            </nz-switch>
        </span>
    </div>

    <div class="contain">
        <span class="switch-label mt60">设置积分规则: </span>
        <span class="switch-control">
            <div class="form-wrap">
                <div class="form-item">
                    <span class="label">当会员通过直销银行支付</span>
                    <nz-input-number class="number-input" [(nzDisabled)]="!interRuleObj.integrationRuleState"
                        [(ngModel)]="interRuleObj.bankMoney" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span class="mid-text"> 元,自动积</span>
                    <nz-input-number [(nzDisabled)]="!interRuleObj.integrationRuleState" class="number-input"
                        [(ngModel)]="interRuleObj.bankIntegral" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span>分</span>
                </div>

                <div class="form-item">
                    <span class="label">当会员通过扫码付支付</span>
                    <nz-input-number class="number-input" [(nzDisabled)]="!interRuleObj.integrationRuleState"
                        [(ngModel)]="interRuleObj.memberMoney" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span class="mid-text"> 元,自动积</span>
                    <nz-input-number [(nzDisabled)]="!interRuleObj.integrationRuleState" class="number-input"
                        [(ngModel)]="interRuleObj.memberIntegral" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span> 分 </span>
                </div>

                <div class="form-item">
                    <span class="label">单次积分不超过</span>
                    <nz-input-number class="number-input"
                        [(nzDisabled)]="!interRuleObj.integrationRuleState || interRuleObj.unlimitSingle"
                        [(ngModel)]="interRuleObj.singleIntegralMax" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span class="mid-text"> 分 </span>
                    <nz-switch [(ngModel)]="interRuleObj.unlimitSingle" [nzControl]="true"
                        (click)="clickSwitch('unlimitSingle')" nzCheckedChildren="是" nzUnCheckedChildren="否"
                        [(nzDisabled)]="!interRuleObj.integrationRuleState">
                    </nz-switch>
                    <span style="margin-left:10px">不限兑换积分上限</span>
                </div>

                <div class="form-item">
                    <span class="label">累积积分不超过</span>
                    <nz-input-number [(ngModel)]="interRuleObj.allIntegralMax" class="number-input" [nzMin]="1"
                        [nzStep]="1" [(nzDisabled)]="!interRuleObj.integrationRuleState || interRuleObj.unlimitAll">
                    </nz-input-number>
                    <span class="mid-text"> 分</span>
                    <nz-switch [(ngModel)]="interRuleObj.unlimitAll" [nzControl]="true"
                        (click)="clickSwitch('unlimitAll')" nzCheckedChildren="是" nzUnCheckedChildren="否"
                        [(nzDisabled)]="!interRuleObj.integrationRuleState">
                    </nz-switch>
                    <span style="margin-left:10px">不限兑换积分上限</span>
                </div>
            </div>


        </span>
    </div>

    <div class="contain  mt5 bd-bt">
        <span class="switch-label">是否开启积分兑换: </span>
        <span class="switch-control">
            <nz-switch [(ngModel)]="interRuleObj.integrationExchangeState" [nzControl]="true"
                (click)="clickSwitch('integrationExchangeState')" nzCheckedChildren="是" nzUnCheckedChildren="否">
            </nz-switch>
        </span>
    </div>

    <div class="contain" style="padding: 0;">
        <span class="switch-label mt60">设置积分规则: </span>
        <span class="switch-control">
            <div class="form-wrap">
                <label nz-radio [ngModel]="interRuleObj.isLimit === 1"
                    [(nzDisabled)]="!interRuleObj.integrationExchangeState" (ngModelChange)="changeLabel(1)">
                    不限兑换积分上限
                </label>

                <label style="margin-left:80px" nz-radio [ngModel]="interRuleObj.isLimit === 0"
                    [(nzDisabled)]="!interRuleObj.integrationExchangeState" (ngModelChange)="changeLabel(0)">
                    限制每次兑换积分上限
                </label>

                <div class="form-item" style="width: 300px; margin-top: 0;">
                    <span>不超过</span>
                    <nz-input-number class="number-input"
                        [(nzDisabled)]="!interRuleObj.integrationExchangeState || !!interRuleObj.isLimit"
                        [(ngModel)]="interRuleObj.integralLimit" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span>分</span>
                </div>
            </div>
        </span>
    </div>

    <div class="contain" style="padding: 0;">
        <span class="switch-label mt60">设置积分兑换比例： </span>
        <span class="switch-control">
            <div class="form-wrap">
                <div class="form-item">
                    <span>积分</span>
                    <nz-input-number class="number-input" [(nzDisabled)]="!interRuleObj.integrationExchangeState"
                        [(ngModel)]="interRuleObj.exchangeIntegral" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span>分</span>
                    <span style="margin-left:50px;"> 等值于</span>
                    <nz-input-number [(nzDisabled)]="!interRuleObj.integrationExchangeState" class="number-input"
                        [(ngModel)]="interRuleObj.exchangeMoney" [nzMin]="1" [nzStep]="1">
                    </nz-input-number>
                    <span>元</span>

                    <span class="note">注：设置保存积分兑换比例后，不可以进行修改</span>
                </div>
            </div>
        </span>
    </div>

    <div class="contain">
        <span class="switch-label"></span>
        <span class="switch-control">
            <button nz-button nzType="primary" (click)="saveForm()" [nzLoading]="isLoadingOne">保存</button>
        </span>
    </div>
</div>