<div class="goods-wraper">
    <ng-container *ngIf="currentPage===pageType.List">
        <div class="operate-bar" [ngClass]="{'extend-conditions': extendConditions}">
            <div class="operate-item">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="filters.enabled">
                    <nz-option nzLabel="全部商品" nzValue=""></nz-option>
                    <nz-option nzLabel="已停用商品" nzValue="0"></nz-option>
                    <nz-option nzLabel="已启用商品" nzValue="1"></nz-option>
                </nz-select>
            </div>
            <div class="operate-item">
                <nz-input-group [nzPrefix]="prefixTemplateUser">
                    <input type="text" nz-input placeholder="请输入商品名称/拼音简拼/条码" [(ngModel)]="filters.keyword" />
                </nz-input-group>
                <ng-template #prefixTemplateUser><i nz-icon nzType="search"></i></ng-template>
            </div>
            <div class="operate-item btn-groups">
                <button nz-button (click)="searchByCondition()" nzType="primary">
                    <i class="iconfont fxsousuo"></i>
                    搜索</button>
                <button nz-button (click)="resetCondition()">
                    <i class="iconfont fxreset"></i>
                    重置
                </button>
                <nz-badge [nzCount]="0">
                    <button nz-button nzType="default" (click)="extendConditions = !extendConditions">
                        <i nz-icon nzType="down" nzTheme="outline"></i>
                        更多
                    </button>
                </nz-badge>
            </div>
            <div class="operate-item">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择商品品牌" [(ngModel)]="filters.brandId"
                    (nzFocus)="getAllUnitslist('productBrands')">
                    <nz-option nzLabel="全部商品品牌" nzValue=""></nz-option>
                    <nz-option *ngFor="let item of goodKinds" [nzLabel]="item.name" [nzValue]="item.id">
                    </nz-option>
                </nz-select>
            </div>
            <div class="operate-item">
                <nz-cascader nzChangeOnSelect (ngModelChange)="changeCateList($event)" [nzOptions]="categoryList" nzPlaceHolder="请选择分类"
                    [(ngModel)]="filters.cateList">
                </nz-cascader>
            </div>
            <div class="operate-item">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择是否设置商品图片" [(ngModel)]="filters.existsPicture">
                    <nz-option nzLabel="全部" nzValue=""></nz-option>
                    <nz-option nzLabel="已设置图片" nzValue="1"></nz-option>
                    <nz-option nzLabel="未设置图片" nzValue="0"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="container">
            <app-ufast-table-nav [tableConfig]="tableConfig" [leftTemplate]="leftNav" [rightTemplate]="rightNav">
            </app-ufast-table-nav>

            <ng-template #leftNav>
                <button nz-button nzType="primary" (click)="addGoods()">
                    <i class="iconfont fxadded"></i>
                    新增
                </button>
                <button nz-button (click)="printTag()">价签打印</button>
                <button nz-button (click)="enableGoodsByIds(0)">
                    <i class="iconfont fxstop"></i>
                    停用
                </button>
                <button nz-button (click)="deleteGoods()">
                    <i class="iconfont fxdelete"></i>
                    删除
                </button>
                <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu4">
                    更多
                    <i nz-icon nzType="down" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu4="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item (click)="showGoodsModal('unit')">商品单位</li>
                        <li nz-menu-item (click)="showGoodsModal('brand')">商品品牌</li>
                    </ul>
                </nz-dropdown-menu>
            </ng-template>

            <ng-template #rightNav>
                <nz-button-group>
                    <button class="refresh" nz-button (click)="getDataList()">
                        <i class="icon" nz-icon type="sync" theme="outline"></i>
                    </button>
                    <button style="margin: 0;border-right: none;border-radius:0" class="refresh" nz-button appDownload class="m-r-xs"
                        [downloadUrl]="productExportParam.downloadUrl" [method]="productExportParam.reqMethod"
                        [reqParam]="productExportParam.fileParam" [fileName]="productExportParam.fileName">
                        <i nz-icon type="upload" theme="outline"></i>
                    </button>
                    <button style="margin: 0;" class="refresh" nz-button class="m-r-sm" (click)="showUploadModal()">
                        <i nz-icon nzType="download" nzTheme="outline"></i>
                    </button>
                </nz-button-group>
            </ng-template>

            <app-ufast-table [tableConfig]=" tableConfig" (selectedChange)="checkTableItem($event)" [dataList]="dataList"
                (updateList)="getDataList($event)" (selectedChange)="checkTableItem($event)" (sortChange)="sortOrderBy($event)">
            </app-ufast-table>

            <ng-template #seqNoTpl let-index="_index">
                {{index + 1}}
            </ng-template>

            <ng-template #operationTpl let-item="_item">
                <button class="primary-color" nz-button nzType="link" (click)="addGoods(item.id)">
                    <i class="iconfont fxedit"></i>
                    编辑
                </button>
                <nz-divider nzType="vertical"></nz-divider>
                <button class="primary-color" nz-button nzType="link" (click)="enableGoods(item.id,item.enabled === 0 ? 1 : 0)">
                    <i *ngIf="item.enabled" class="iconfont fxstop"></i>
                    <i *ngIf="!item.enabled" class="iconfont fxenable"></i>
                    {{item.enabled === 1 ? '停用' : '启用'}}
                </button>
            </ng-template>

            <ng-template #stateTpl let-enabled="enabled">
                <nz-badge *ngIf="enabled" nzStatus="success" nzText="已启用"></nz-badge>
                <nz-badge *ngIf="!enabled" nzStatus="error" nzText="已停用"></nz-badge>
            </ng-template>
        </div>
    </ng-container>

    <ng-container *ngIf="currentPage===pageType.Add">
        <app-goods-info-add [id]="itemId" (returnBack)="returnToList($event)"></app-goods-info-add>
    </ng-container>

    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <app-unit-brand-table *ngIf="isVisible" [productObj]="productObj" [modalTitle]="modalTitle">
        </app-unit-brand-table>
    </nz-modal>
</div>
