<div class="emp-info">
    <div class="operate-bar">

        <div class="operate-item">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="filters.locked">
                <nz-option nzLabel="全部" nzValue=""></nz-option>
                <nz-option nzLabel="已停用" [nzValue]="true"></nz-option>
                <nz-option nzLabel="已启用" [nzValue]="false"></nz-option>
            </nz-select>
        </div>
        <div class="operate-item">
            <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input type="text" nz-input placeholder="请输入用户姓名" [(ngModel)]="filters.name" />
            </nz-input-group>
            <ng-template #prefixTemplateUser><i nz-icon nzType="search"></i></ng-template>
        </div>

        <div class="operate-item">
            <button (click)="searchByFilter()" nz-button nzType="primary">
                <i class="iconfont fxsousuo"></i>
                搜索</button>
            <button (click)="resetFilters()" nz-button>
                <i class="iconfont fxreset"></i>
                重置
            </button>
        </div>

    </div>
    <div class="container">
        <app-ufast-table-nav [tableConfig]="tableConfig" [leftTemplate]="leftNav" [rightTemplate]="rightNav">
        </app-ufast-table-nav>

        <ng-template #leftNav>
            <button nz-button nzType="primary" (click)="openDialog('add')">
                <i class="iconfont fxadded"></i>
                新增
            </button>
        </ng-template>
        <ng-template #rightNav>
            <nz-button-group>
                <button class="refresh" style="margin: 0;" nz-button (click)="getEmList()" title="刷新">
                    <i class="icon" nz-icon type="sync" theme="outline"></i>
                </button>
                <button class="refresh" nz-button (click)="showUploadModal()">
                    <i nz-icon nzType="download" nzTheme="outline"></i>
                </button>
            </nz-button-group>
        </ng-template>


        <app-ufast-table [tableConfig]="tableConfig" (selectedChange)="checkTableItem($event)" [dataList]="dataList"
            (updateList)="getEmList()">
        </app-ufast-table>

        <ng-template #seqNoTpl let-index="_index">
            {{index + 1}}
        </ng-template>

        <ng-template #operationTpl let-locked="locked" let-item="_item">
            <button class="primary-color" nz-button nzType="link" (click)="openDialog('edit',item)">
                <i class="iconfont fxedit"></i>
                编辑
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button class="primary-color" nz-button nzType="link" (click)="lockEmployee(item.id,!locked)">
                <i *ngIf="locked" class="iconfont fxunlock"></i>
                <i *ngIf="!locked" class="iconfont fxlocking"></i>
                {{locked ? '解锁' : '锁定'}}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button class="primary-color" nz-button nzType="link" (click)="openDialog('setPsd',item)">
                <i class="iconfont fxedit"></i>
                重置密码
            </button>
        </ng-template>

        <ng-template #stateTpl let-locked="locked" let-item="_item">
            <nz-badge *ngIf="!locked" nzStatus="success" nzText="已启用"></nz-badge>
            <nz-badge *ngIf="locked" nzStatus="error" nzText="已停用"></nz-badge>
        </ng-template>

    </div>

    <nz-modal class="add-employee-model" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <nz-form-item *ngIf="dialogType !== 'setPsd'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">用户姓名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入用户姓名">
                    <input nz-input formControlName="name" placeholder="请输入用户姓名" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dialogType !== 'setPsd'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">手机号</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="请输入手机号!">
                    <input nz-input formControlName="mobile" placeholder="请输入手机号" maxlength="11" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dialogType !== 'setPsd'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleIds">角色</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="请选择角色!">
                    <nz-select formControlName="roleIds" nzPlaceHolder="请选择角色">
                        <nz-option *ngFor="let item of jobList" [nzLabel]="item.name" [nzValue]="item.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dialogType !== 'setPsd'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="employeeNumber">员工号</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="请输入员工号!">
                    <input nz-input formControlName="employeeNumber" placeholder="请输入员工号" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dialogType !== 'setPsd'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="deptCode">机构</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="请选择机构!">
                    <app-org-cascader formControlName="deptCode">
                    </app-org-cascader>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dialogType === 'setPsd'|| dialogType === 'add'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">
                    {{dialogType === 'add' ? '登录密码' : '新密码'}}
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="密码由含大写、小写字母、数字、特殊字符三种及以上,8位组成!">
                    <input nz-input type="password" formControlName="password"
                        (ngModelChange)="updateConfirmValidator()" placeholder="密码由含大写、小写字母、数字、特殊字符三种及以上,8位组成" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dialogType === 'setPsd' || dialogType === 'add'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">确认密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="password" formControlName="checkPassword" placeholder="请再次输入密码" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            请再次输入密码
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            两次密码不一致
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
</div>