<form nz-form [formGroup]="validateForm" class="reset-form" (ngSubmit)="submitPassword()">
    <nz-form-item class="form-item">
        <nz-form-label nzSpan="4" nzRequired="true" nzFor="password">新密码</nz-form-label>
        <nz-form-control nzSpan="20" nzErrorTip="请输入新密码">
            <input nz-input type="password" formControlName="password" nzSize="default" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSpan="4" nzRequired="true" nzFor="rePassword">确认密码</nz-form-label>
        <nz-form-control nzSpan="20" nzErrorTip="请输入确认密码">
            <input nz-input formControlName="rePassword" nzSize="default"  type="password" />
        </nz-form-control>
    </nz-form-item>
    <div nz-row class="remark-row">
        <div nz-col nzSpan="2">&nbsp;</div>
        <div nz-col nzSpan>{{remark}}</div>
    </div>
    <div class="form-footer">
        <button nz-button nzType="primary" nzSize="large" type="submit">确认</button>
        <button nz-button type="button" nzType="primary" nzSize="large" nzGhost="true" (click)="cancelModal()">取消</button>
    </div>
</form>