<div class="wraper">
    <button class="add-btn" nz-button nzType="primary" (click)="showModal('add')">新增商品分类</button>

    <ul class="form-container">
        <li class="form-item form-head">
            <span>商品分类名称</span>
            <span>操作</span>
        </li>

        <li class="no-database" *ngIf="!listOfMapData.length">
            暂无数据
        </li>
        <li *ngFor="let el of listOfMapData;let key = index">
            <!-- 第一级 -->
            <div class="lis">
                <span (click)="expandItem(el,key)">
                    <i nz-icon class="mr5" *ngIf="!el.show" nzType="plus-square" nzTheme="outline"></i>
                    <i nz-icon class="mr5" *ngIf="el.show" nzType="minus-square" nzTheme="outline"></i>
                    {{el.name}}
                </span>
                <span>
                    <button nz-button nzType="link" (click)="editCatery(el,key)">
                        <i nz-icon nzType="edit"></i>编辑
                    </button>
                    <button nz-button nzType="link" (click)="deleteCatery(el,key)">
                        <i nz-icon nzType="delete"></i>删除
                    </button>
                    <button nz-button nzType="link" (click)="addCatery(el,key)">
                        <i nz-icon nzType="plus"></i>添加子分类
                    </button>
                </span>
            </div>
            <ng-container *ngIf="el.show">
                <ng-container *ngFor="let item of el.children;let index = index">
                    <!-- 第二级 -->
                    <div class="lis">
                        <span (click)="expandThird(item,index,key)">
                            <span class="line"></span>
                            <i nz-icon class="mr5" *ngIf="!item.show" nzType="plus-square" nzTheme="outline"></i>
                            <i nz-icon class="mr5" *ngIf="item.show" nzType="minus-square" nzTheme="outline"></i>
                            {{item.name}}
                        </span>
                        <span>
                            <button nz-button nzType="link" (click)="editCatery(item,index)">
                                <i nz-icon nzType="search"></i>编辑
                            </button>
                            <button nz-button nzType="link" (click)="deleteCatery(item,index)">
                                <i nz-icon nzType="search"></i>删除
                            </button>
                            <button nz-button nzType="link" (click)="addCatery(item,index)">
                                <i nz-icon nzType="search"></i>添加子分类
                            </button>
                        </span>
                    </div>
                    <!-- 第三级 -->
                    <ng-container *ngIf="item.show">
                        <div class="lis" *ngFor="let third of item.children;let thirdIndex = index">
                            <span>
                                <span class="wid"></span>
                                <span style="margin-left: 2px;border:none">{{third.name}}</span>
                            </span>
                            <span>
                                <button nz-button nzType="link" (click)="editCatery(third,thirdIndex)">
                                    <i nz-icon nzType="search"></i>编辑
                                </button>
                                <button nz-button nzType="link" (click)="deleteCatery(third,thirdIndex)">
                                    <i nz-icon nzType="search"></i>删除
                                </button>
                            </span>
                        </div>
                    </ng-container>
                </ng-container>


            </ng-container>
        </li>
    </ul>

    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle === 'add' ? '添加分类':'添加子分类'" (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item *ngIf="modalTitle !== 'add'">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">父级分类名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入分类名称">
                    <input nz-input formControlName="parentName" placeholder="请输入分类名称" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">分类名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入分类名称">
                    <input nz-input formControlName="name" placeholder="请输入分类名称" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>

    <nz-modal [(nzVisible)]="editVisible" nzTitle="编辑分类名称" (nzOnCancel)="handleCancel()" (nzOnOk)="handleEditOk()">
        <input nz-input [(ngModel)]="currentCateObj.name" placeholder="请输入分类名称" />
    </nz-modal>
</div>
