<div class="page-container edit-rights">
    <div class="content-container">
        <div *ngFor="let first of rightListData" class="permission-container permission-box">
            <div class="first-level">
              <label nz-checkbox
                     [(ngModel)]="first.value"
                     [nzIndeterminate] = 'first.indeterminate'
                     (ngModelChange)="selectedData(first)"
                     [nzDisabled]="isDetail || first.disabled">{{first.text}}</label>
              <div class="collapse-box" (click)="first.collapsed = !first.collapsed"><a>{{first.collapsed ? '收起' : '展开'}}</a></div>
            </div>
            <div *ngFor="let second of first.children" class="second-level permission-box" [ngClass]="{'show': first.collapsed, 'hidden': !first.collapsed}">
              <label nz-checkbox
                     [(ngModel)]="second.value"
                     [nzIndeterminate] = 'second.indeterminate'
                     (ngModelChange)="selectedData(second, first)"
                     [nzDisabled]="isDetail">{{second.text}}</label>
              <div nz-row class="third-level permission-box">
                <div nz-col nzSpan="6" *ngFor="let third of second.children">
                  <label nz-checkbox
                         [(ngModel)]="third.value"
                         [nzIndeterminate] = 'third.indeterminate'
                         (ngModelChange)="selectedData(third, second)"
                         [nzDisabled]="isDetail">{{third.text}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="foot-btn">
            <button nz-button (click)="save()" nzType="primary" *ngIf="!isDetail">保存</button>
            <button nz-button (click)="backTo()">取消</button>
          </div>
    </div>
</div>