<div class="page-container">
    <div class="condition-container">
        <form nz-form class="condition-form">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="7">
                    <nz-form-item nzFlex>
                        <nz-form-label>账户类型</nz-form-label>
                        <nz-form-control>
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择"
                                [(ngModel)]="searchParams.companyAccountType" name="companyAccountType">
                                <nz-option *ngFor="let option of merchantTypeList" [nzValue]="option.value"
                                    [nzLabel]="option.label"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="7">
                    <nz-form-item nzFlex>
                        <nz-form-label>商户</nz-form-label>
                        <nz-form-control>
                            <input type="text" nz-input [(ngModel)]="searchParams.companyName"
                                placeholder="请输入商户名称/商户编号" name="companyName" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="10">
                    <nz-form-item nzFlex>
                        <nz-form-label>商户地址</nz-form-label>
                        <nz-form-control>
                            <app-three-link kind="alone" [(ngModel)]="searchParams.address" name="address">
                            </app-three-link>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="7">
                    <nz-form-item nzFlex>
                        <nz-form-label>销售人员</nz-form-label>
                        <nz-form-control>
                            <input type="text" nz-input [(ngModel)]="searchParams.salesMan" placeholder="请销售人员"
                                name="salesMan" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="7">
                    <nz-form-item nzFlex>
                        <nz-form-label>商户状态</nz-form-label>
                        <nz-form-control>
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="searchParams.isLock"
                                name="isLock">
                                <nz-option nzValue='' nzLabel="全部"></nz-option>
                                <nz-option nzValue=0 nzLabel="已上线"></nz-option>
                                <nz-option nzValue=1 nzLabel="已下线"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="10">
                    <nz-form-item nzFlex>
                        <nz-form-label>注册时间</nz-form-label>
                        <nz-form-control>
                            <app-range-data [hiddenBtn]="true" [(startDate)]="searchParams.createStartDate"
                                [(endDate)]="searchParams.createEndDate"></app-range-data>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-item nzFlex>
                        <nz-form-label>机构</nz-form-label>
                        <nz-form-control>
                            <app-org-cascader [(ngModel)]="searchParams.salesManDeptCodeList"
                                name="salesManDeptCodeList">
                            </app-org-cascader>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12" class="search-area">
                    <button nz-button nzType="primary" (click)="searchData()">搜索</button>
                    <button nz-button (click)="resetForm()">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div class="content-container">
        <app-ufast-table-nav [tableConfig]="tableConfig" [rightTemplate]="rightNav" [leftTemplate]="leftNav">
        </app-ufast-table-nav>
        <ng-template #leftNav>
            <button nz-button nzType="primary" (click)="addMerchant()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                新增商户
            </button>
        </ng-template>

        <ng-template #rightNav>
            <nz-button-group>
                <button class="refresh" nz-button (click)="searchData()">
                    <i class="icon" nz-icon type="sync" theme="outline"></i>
                </button>
                <button class="refresh" style="margin: 0;border-right: 1px solid #d9d9d9;" nz-button appDownload
                    [downloadUrl]="productExportParam.downloadUrl" [method]="productExportParam.reqMethod"
                    [reqParam]="productExportParam.fileParam" [fileName]="productExportParam.fileName"
                    [downloadServer]="productExportParam.downloadServer">
                    <i nz-icon type="upload" theme="outline"></i>
                </button>
            </nz-button-group>
        </ng-template>

        <app-ufast-table [tableConfig]="tableConfig" [dataList]="merchantList" (updateList)="getMerchantList()">
        </app-ufast-table>
    </div>
</div>

<ng-template #seqNo let-tpOutIndex="_index">
    {{ tableConfig.pageSize * (tableConfig.pageNum - 1) + tpOutIndex + 1 }}
</ng-template>
<ng-template #merchantName let-tpOutIndex="_index">
    <a (click)="goDetail(tpOutIndex)">
        {{ merchantList[tpOutIndex].companyName }}</a>
</ng-template>
<ng-template #merchantStatus let-isLock="isLock">
    <nz-badge nzColor='{{ isLock ? "red" : "green"  }}' nzText='{{!isLock ? "已上线" : "已下线"}}'></nz-badge>
</ng-template>

<ng-template #operation let-tpOutItem="_item">
    <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="editInfo(tpOutItem)">
        信息维护
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="configPayInfo(tpOutItem)">
        支付配置
    </button>
</ng-template>