<div class="sale-detail-wraper">
    <div class="back-wraper">
        <!-- <i class="iconfont fxback"></i> -->
        <div style="cursor: pointer;width: 100px;" (click)="returnToList()">
            <i nz-icon nzType="left" nzTheme="outline"></i>
            <span>返回</span>
        </div>
    </div>
    <div class="detail-title no-top-border">单据详情</div>
    <div class="content-wrpaer">
        <ul class="base-info" [ngClass]="{'backimg':detailInfo.state === 3}">
            <li>单据编号: {{detailInfo.billNo}}</li>
            <li>单据类型: {{detailInfo.billTypeName}}</li>
            <li>单据状态: {{detailInfo.state == 3 ? '已完成' :'作废'}}</li>
            <li>会员: {{detailInfo.memberName}}</li>
            <li>收银员: {{detailInfo.creatorName}}</li>
            <li>创建时间: {{detailInfo.createTime}}</li>
        </ul>
        <nz-table class="list-table" #colSpanTable [nzData]="detailInfo.details" nzBordered [nzShowPagination]="false">
            <thead>
                <tr>
                    <th class="text-center" nzWidth="50px">序号</th>
                    <th class="text-center" nzWidth="140px">商品名称</th>
                    <th class="text-center" nzWidth="167px">条码</th>
                    <th class="text-center" nzWidth="127px">规格</th>
                    <th class="text-center" nzWidth="87px">单位</th>
                    <th class="text-center" nzWidth="127px">原价（￥）</th>
                    <th class="text-center" nzWidth="127px">现价（￥）</th>
                    <th class="text-center" nzWidth="127px">数量</th>
                    <th class="text-center" nzWidth="127px" colspan="2">小计</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of colSpanTable.data; index as i">
                    <td class="text-center">{{ i+1 }}</td>
                    <td><span *ngIf="data.gift" style="color: red;">[赠]</span> {{ data.productName }} </td>
                    <td class="text-center">{{ data.barcode }}</td>
                    <td>{{ data.specification }}</td>
                    <td class="text-center">{{ data.uomName }}</td>
                    <td class="text-right">{{ data.price}}</td>
                    <td class="text-right">{{ data.settlePrice }}</td>
                    <td class="text-right">{{ data.qty }}</td>
                    <td class="text-right">{{ data.totalSettleValue }}</td>
                </tr>
                <tr class="total-tr">
                    <td class="text-center" colspan="8">合计</td>
                    <td class="text-right" colspan="2">
                        <span>
                            共 {{detailInfo.totalProductNumber}}种
                            {{detailInfo.totalQty}}件
                            <span class="money-color">
                                {{detailInfo.totalSettleValue | number: '1.2-2'}}
                            </span>
                            元
                        </span>
                    </td>

                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="detail-title mt10">
        结算详情
    </div>
    <div class="content-wrpaer">
        <nz-table #basicTable [nzData]="detailInfo.settleBillDetails" nzBordered [nzShowPagination]="false">
            <thead>
                <tr>
                    <th class="text-center" nzWidth="239px">{{settleObj.title1}}（￥）</th>
                    <th class="text-center" nzWidth="239px">结算优惠（￥）</th>
                    <th class="text-center" nzWidth="239px">{{settleObj.title2}}</th>
                    <th class="text-center" nzWidth="244px">{{settleObj.title3}}（￥）</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td class="text-right">{{ data.totalSettleValue }}</td>
                    <td class="text-right">{{ data.totalSettleDiscountValue }}</td>
                    <td class="text-center">{{ data.payWayName }}</td>
                    <td class="text-right">{{ data.amount }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="detail-title mt10">
        操作日志
    </div>
    <div class="content-wrpaer">
        <nz-table #logTable [nzData]="oprateLogList" nzBordered [nzShowPagination]="false">
            <thead>
                <tr>
                    <th class="text-center" nzWidth="200px">时间</th>
                    <th class="text-center" nzWidth="200px">内容</th>
                    <th class="text-center" nzWidth="200px">备注</th>
                    <th class="text-center" nzWidth="200px">操作人</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of logTable.data">
                    <td class="text-center">{{ data.operateTime | map: 'date: yyyy-MM-dd HH:mm:ss' }}</td>
                    <td class="text-center">{{ data.operateDesc }}</td>
                    <td class="text-center">{{ data.note || '--' }}</td>
                    <td class="text-center">{{ data.operatorName }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
