<div class="back-wraper" *ngIf="pageType === 'list'">
    <div class="primary-color" style="cursor: pointer;width: 100px;" (click)="returnToList('refresh')">
        <i nz-icon nzType="left" nzTheme="outline"></i>
        <span>返回</span>
    </div>
</div>

<div class="inventory-detail" *ngIf="pageType === 'list'">
    <div class="operate-bar" [ngClass]="{'extend-conditions': extendConditions}">
        <div class="operate-item">
            <span>同步状态: </span>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="filters.synchroState">
                <nz-option nzLabel="全部" nzValue=""></nz-option>
                <nz-option *ngFor="let item of asyncStateList" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
            </nz-select>
        </div>

        <div class="operate-item">
            <span>商户: </span>
            <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input type="text" nz-input placeholder="请输入商户名称/商户编号" [(ngModel)]="filters.keyword" />
            </nz-input-group>
            <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
        </div>

        <div class="operate-item btn-groups">
            <button nz-button (click)="getDataList()" nzType="primary">
                <i class="iconfont fxsousuo"></i>
                搜索
            </button>
            <button nz-button (click)="resetCondition()">
                <i class="iconfont fxreset"></i>
                重置
            </button>

        </div>
    </div>

    <div class="container">
        <app-ufast-table-nav [tableConfig]="tableConfig" [leftTemplate]="leftNav" [rightTemplate]="rightNav">
        </app-ufast-table-nav>

        <ng-template #leftNav>
            <button nz-button nzType="primary" (click)="addMerchant()">
                <i class="iconfont fxadded"></i> 添加入驻商户
            </button>
            <button nz-button (click)="asyncBatch()">批量同步</button>
        </ng-template>

        <ng-template #rightNav>
            <nz-button-group>
                <button class="refresh" nz-button (click)="getDataList()">
                    <i class="icon" nz-icon type="sync" theme="outline"></i>
                </button>
                <button style="margin: 0;" nz-button appDownload [downloadUrl]="productExportParam.downloadUrl"
                    [method]="productExportParam.reqMethod" [reqParam]="productExportParam.fileParam"
                    [fileName]="productExportParam.fileName" [downloadServer]="productExportParam.downloadServer">
                    <i nz-icon type="upload" theme="outline"></i>
                </button>
            </nz-button-group>
        </ng-template>

        <app-ufast-table [tableConfig]="tableConfig" [dataList]="dataList" (selectedChange)="checkTableItem($event)"
            (updateList)="getDataList($event)">
        </app-ufast-table>
        <ng-template #seqNoTpl let-index="_index">
            {{index + 1}}
        </ng-template>

        <ng-template #opTpl let-item="_item">
            <button class="no-margin" nz-button (click)="infoSetting(item)" nzType="link">
                <i class="iconfont fxsousuo"></i>信息维护
            </button>

            <button class="no-margin" nz-button (click)="deleteMerchant(item)" nzType="link">
                <i class="iconfont fxsousuo"></i>移除
            </button>

            <button class="no-margin" nz-button (click)="asyncMerchant(item)" nzType="link">
                <i class="iconfont fxsousuo"></i>同步
            </button>

        </ng-template>


        <ng-template #stateTpl let-locked="isLock" let-item="_item">
            <nz-badge *ngIf="locked" nzStatus="error" nzText="已下线"></nz-badge>
            <nz-badge *ngIf="!locked" nzStatus="success" nzText="已上线"></nz-badge>
        </ng-template>
    </div>
</div>


<div *ngIf="pageType === 'add'">
    <div class="back-wraper">
        <div class="primary-color" style="cursor: pointer;width: 100px;" (click)="backToList()">
            <i nz-icon nzType="left" nzTheme="outline"></i>
            <span>返回</span>
        </div>
    </div>
    <app-info-setting [id]="listId" (changePageType)="backToList()"></app-info-setting>
</div>


<nz-modal nzClassName="choosed-merchant-modal" [(nzVisible)]="isVisible" nzTitle="入驻商户添加" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()" nzWidth="1000">
    <div class="dialog-list-item">
        <span>商户信息: </span>
        <input type="text" nz-input placeholder="请输入商户名称/商户编号/手机号" [(ngModel)]="settleFilters.companyName" />
    </div>
    <div class="dialog-list-item tr">
        <button nz-button (click)="getAllMerchantList()" nzType="primary">搜索</button>
        <button nz-button (click)="resetConditionsForAll()" class="no-margin-right">重置</button>
    </div>
    <app-ufast-table [tableConfig]="choosedTableConfig" [dataList]="choosedDataList"
        (selectedChange)="checkTableItem($event,'choosed')">
    </app-ufast-table>
</nz-modal>