<div class="page-container">
    <div class="content-container">
        <app-ufast-table-nav [tableConfig]="tableConfig" [rightTemplate]="rightNav" [leftTemplate]="leftNav">
        </app-ufast-table-nav>
        <ng-template #leftNav>
            <button class="refresh" nz-button nzType="primary" (click)="addTpl()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                新增
            </button>
        </ng-template>

        <ng-template #rightNav>
            <nz-button-group>
                <button class="refresh" nz-button (click)="getTplList()">
                    <i class="icon" nz-icon type="sync" theme="outline"></i>
                </button>
            </nz-button-group>
        </ng-template>

        <app-ufast-table [tableConfig]="tableConfig" [dataList]="tplList" (updateList)="getTplList()">
        </app-ufast-table>
    </div>
</div>
<ng-template #operation let-tpOutItem="_item">
    <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="getDetail(tpOutItem)">
        查看权限
    </button>
    <ng-container *ngIf="tpOutItem.lx === '0'">
        <nz-divider nzType="vertical"></nz-divider>
        <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="deletItem(tpOutItem)">
            删除
        </button>
    </ng-container>
    <ng-container *ngIf="tpOutItem.lx === '0'">
        <nz-divider nzType="vertical"></nz-divider>
        <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="editTpl(tpOutItem)">
            编辑
        </button>
    </ng-container>
    <ng-container *ngIf="tpOutItem.lx === '0'">
        <nz-divider nzType="vertical"></nz-divider>
        <button class="primary-color" nzSize="small" nz-button nzType="link" (click)="setRights(tpOutItem)">
            设置权限
        </button>
    </ng-container>
</ng-template>

<ng-template #tplFormTpl>
    <form nz-form [formGroup]="tplForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="templateName">模板名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入模板名称">
                <input nz-input formControlName="templateName" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">模板说明</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea nz-input rows="2" formControlName="remark"> </textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>