<ul class="menu-bar">
    <li class="first-menu" [ngClass]="{'active-menu': currentUrl.indexOf(menu.url) !== -1}"
        *ngFor="let menu of menuList" (click)="switchSecondMenu(menu)">
        <i class="iconfont" [ngClass]="menu.icon"></i>
        <span>{{menu.name}}</span>
        <span class="arrow">
            <i *ngIf="menu.children.length" nz-icon nzType="right" nzTheme="outline"></i>
        </span>
    </li>

    <div class="side-bar" *ngIf="showSecondMenu">
        <ng-container *ngFor="let menu of secondMenuList">

            <ul nz-menu nzMode="inline" nzTheme="light">
                <li nz-submenu [nzOpen]="true" *ngIf="menu.children.length">
                    <span title>
                        <i class="iconfont" [ngClass]="menu.icon"></i>
                        <span>{{menu.name}}</span>
                    </span>
                    <ul>
                        <li nz-menu-item *ngFor="let subMenu of menu.children"
                            [nzSelected]="subMenu.url === selectedItem" (click)="navigate(subMenu)">
                            {{subMenu.name}}
                        </li>
                    </ul>
                </li>
            </ul>

            <ul nz-menu nzMode="inline" nzTheme="light" *ngIf="!menu.children.length">
                <li class="tc" nz-menu-item (click)="navigate(menu)">{{menu.name}}</li>
            </ul>
        </ng-container>

    </div>
</ul>