<div class="regist-wraper">
    <div class="nav">
        <div class="logo-con" (click)="goLogin()"></div>
    </div>
    <div class="form-wraper">
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-input-group>
                    <nz-form-control nzErrorTip="请输入店铺名称">
                        <nz-input-group [nzPrefix]="prefixTemplateShop">
                            <input nz-input formControlName="orgName" placeholder="请输入店铺名称" />
                        </nz-input-group>
                        <ng-template #prefixTemplateShop>
                            <i class="iconfont fxshop"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-input-group>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="请选择省/市/县!">
                    <app-three-link formControlName="arr" [(ngModel)]="areaName" [kind]="true"></app-three-link>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="请输入详细地址!">
                    <nz-input-group [nzPrefix]="prefixTemplateAddress">
                        <input nz-input formControlName="address" placeholder="请输入详细地址" />
                    </nz-input-group>
                    <ng-template #prefixTemplateAddress>
                        <i class="iconfont fxaddress"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="请输入登录名" class="show">
                    <nz-input-group [nzPrefix]="prefixTemplateUser">
                        <input nz-input formControlName="loginName" placeholder="请输入登录名" (blur)="checkLoginName()" />
                        <div *ngIf="loginNameTip" class="show-already-phone">{{loginNameTip}}</div>
                    </nz-input-group>
                    <ng-template #prefixTemplateUser>
                        <i class="iconfont fxuser"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="请输入正确的手机号码" class="show">
                    <nz-input-group [nzPrefix]="prefixTemplatePhone">
                        <input nz-input formControlName="tel" placeholder="请输入手机号码" (blur)="checkMobile()" maxlength="11" />
                        <div *ngIf="phoneTip" class="show-already-phone">{{phoneTip}}</div>
                    </nz-input-group>
                    <ng-template #prefixTemplatePhone>
                        <i class="iconfont fxphone"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="请输入短信验证码!">
                    <nz-input-group [nzPrefix]="prefixTemplateCode" [nzSuffix]="suffixTemplateCode">
                        <input nz-input formControlName="smsValidCode" placeholder="请输入短信验证码" />
                    </nz-input-group>
                    <ng-template #prefixTemplateCode>
                        <i class="iconfont fxverification"></i>
                    </ng-template>
                    <ng-template #suffixTemplateCode>
                        <button class="get-qrcode" nz-button nzType="link" (click)="getVerifyCode()" [disabled]="canClick">
                            {{verifyText}}
                        </button>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="设置6至20位登录密码!">
                    <nz-input-group [nzPrefix]="prefixTemplatePassword">
                        <input nz-input type="password" formControlName="password" (ngModelChange)="updateConfirmValidator()"
                            placeholder="设置6至20位登录密码" (blur)="checkPsd()" />
                    </nz-input-group>
                    <ng-template #prefixTemplatePassword>
                        <i class="iconfont fxpassword"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixTemplatePassword">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="请再次输入密码"
                            (blur)="checkPsd()" />
                    </nz-input-group>
                    <div [ngClass]="{'slideIn':isSame}" class="psd-error">两次密码不一致
                    </div>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="24" [nzOffset]="0" nzErrorTip="请先勾选!">
                    <label nz-checkbox formControlName="agree">
                        <span>勾选同意</span>
                    </label>
                    <a class="primary-color"  href="./assets/register-protocol.html" target="_blank">《用户服务协议》</a>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="24" [nzOffset]="0">
                    <button class="regist-form-button" nz-button nzType="primary" (click)="submitForm()">注册</button>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row class=" register-area">
                <nz-form-control [nzSpan]="24" [nzOffset]="8">
                    <a class="go-login" (click)="goLogin()">已有账号，立即登录</a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
