<div class="integral-wrraper">
    <div class="back">
        <button nz-button nzType="link" (click)="returnToList()">返回</button>
    </div>

    <div class="operate-bar">
        <div class="operate-item">
            <span>时间：</span>
            <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="timesRange" (ngModelChange)="changeTime()">
            </nz-range-picker>
        </div>
        <div class="operate-item" *ngIf="pageType">
            <span>会员：</span>
            <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input type="text" style="width:250px;height:36px" nz-input placeholder="请输入会员名称/手机号"
                    [(ngModel)]="filters.keyword" />
            </nz-input-group>
            <ng-template #prefixTemplateUser><i nz-icon nzType="search"></i></ng-template>
        </div>

        <div class="operate-item btn-groups">
            <button nz-button (click)="getDataList()" nzType="primary">搜索</button>
            <button nz-button (click)="resetCondition()">清空</button>
        </div>
    </div>

    <div class="container">
        <app-ufast-table-nav [tableConfig]="tableConfig" [rightTemplate]="rightNav"></app-ufast-table-nav>
        <ng-template #rightNav>
            <nz-button-group>
                <button class="refresh" style="border-right: 1px solid #dddddd;" nz-button (click)="getDataList()">
                    <i class="icon" nz-icon type="sync" theme="outline"></i>
                </button>
                <button style="border-right: 1px solid #dddddd; " class="refresh" nz-button appDownload
                    [downloadUrl]="productExportParam.downloadUrl" [method]="productExportParam.reqMethod"
                    [reqParam]="productExportParam.fileParam" [fileName]="productExportParam.fileName"
                    [downloadServer]="productExportParam.downloadServer">
                    <i nz-icon type="upload" theme="outline"></i>
                </button>
            </nz-button-group>
        </ng-template>
        <app-ufast-table [tableConfig]=" tableConfig" [dataList]="dataList" (updateList)="getDataList($event)">
        </app-ufast-table>
        <ng-template #seqNoTpl let-index="_index">
            {{index + 1}}
        </ng-template>

    </div>
</div>