.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
    height: calc(100% - 50px);
    width: 100%;
    position: absolute;
    top: 34px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }