<div>
    <nz-form-item>
        <nz-form-label nzSpan="6">模板格式</nz-form-label>
        <nz-form-control nzSpan="18">
            <button class="ant-btn" appDownload [downloadUrl]="tpDownloadUrl" [fileName]="tpFileName" [method]="tpMethod"
                [downloadServer]="tpService">下载模板</button>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSpan="6">选择文件</nz-form-label>
        <nz-form-control nzSpan="18">
            <nz-upload nzAction="uploadUrl" [nzCustomRequest]="handleUpload" [nzBeforeUpload]="beforeUpload"
                (nzChange)="uploadChange($event)">
                <button nz-button>
                    <i nz-icon type="upload"></i><span>上传</span>
                </button>
            </nz-upload>
            <ul style="list-style:none" *ngIf="tips">
                <li style="color: red">{{ tips }}</li>
            </ul>
            <div *ngIf="tempFile">
                {{tempFile.name}}
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="errorRespone">
        <nz-form-label nzSpan="6">错误信息</nz-form-label>
        <nz-form-control nzSpan="18">
            <span style="color: red;">{{errorRespone}}</span>
            <br>
            <a *ngIf="downloadErrorMessage" [href]="errorMessageUrl">下载错误信息</a>
        </nz-form-control>
    </nz-form-item>

    <div class="example" *ngIf="exportLoading">
        <nz-spin nzSimple></nz-spin>
    </div>
</div>
