<div class="form-container">
    <div class="base-title">市场信息维护</div>
    <form nz-form [formGroup]="validateForm">

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="name">市场LOGO</nz-form-label>
            <app-image-croppie (urlChange)="urlChange($event)" [urlByDetail]="imgUrlFromCheckDetail"></app-image-croppie>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">市场名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入市场名称!">
                <input nz-input maxLength="50" formControlName="name" placeholder="请输入市场名称" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="merchantNo">市场商户号</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入市场商户号!">
                <input nz-input maxLength="50" formControlName="merchantNo" placeholder="请输入市场商户号" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="contacts">联系人</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入联系人!">
                <input nz-input maxLength="50" formControlName="contacts" placeholder="请输入联系人" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="phone">联系电话</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写联系电话!">
                <input nz-input formControlName="phone" maxLength="11" placeholder="请填写联系电话" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="phone">请选择省/市/县</nz-form-label>
            <nz-form-control [nzSm]="14" nzErrorTip="请选择省/市/县!">
                <app-three-link formControlName="arr" [kind]="true"></app-three-link>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address"></nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写详细地址!">
                <input nz-input formControlName="address" placeholder="请填写详细地址" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <button nz-button nzType="primary" (click)="submitForm()" style="margin-left:200px">保存</button>
            <button nz-button nzType="default" (click)="returnToList()" style="margin-left:20px">取消</button>
        </nz-form-item>

    </form>
</div>
